In [ ]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)

In [39]:
df = pd.read_csv("../analysis/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#How many men and women (sex feature) are represented in this dataset?

df["sex"].value_counts()

In [ ]:
#2. What is the average age (age feature) of women?
df[df["sex"] == "Female"]["age"].mean()

In [ ]:
#3. What is the percentage of German citizens (native-country feature)?

float((df['native-country'] == 'Germany').sum()) / df.shape[0]

In [ ]:
# 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

df[df["salary"] == ">50K"]["age"].agg([np.mean, np.std])

In [ ]:
#5. What are the mean and standard deviation of age for those who earn less than 50K per year?

df[df["salary"] == "<=50K"]["age"].agg([np.mean, np.std])

In [ ]:
#6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)?

In [ ]:
#8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men?