In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.precision", 2)

In [3]:
df = pd.read_csv("../analysis/adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
#How many men and women (sex feature) are represented in this dataset?

df["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [1]:
#2. What is the average age (age feature) of women?
df[df["sex"] == "Female"]["age"].mean()

NameError: name 'df' is not defined

In [6]:
#3. What is the percentage of German citizens (native-country feature)?

float((df['native-country'] == 'Germany').sum()) / df.shape[0]

0.004207487485028101

In [ ]:
# 4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

df[df["salary"] == ">50K"]["age"].agg([np.mean, np.std])

In [6]:
#5. What are the mean and standard deviation of age for those who earn less than 50K per year?

df[df["salary"] == "<=50K"]["age"].agg([np.mean, np.std])

mean    36.78
std     14.02
Name: age, dtype: float64

In [7]:
#6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)?

df[df["salary"] == ">50K"]["education"].unique()

#NO

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [ ]:
#8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men?
df[(df['sex'] == 'Male') & (df['marital-status'].isin(['Never-married', 'Separated', 'Divorced','Widowed']))]['salary'].value_counts()
#<=50K    7552
#>50K      697

df[(df['sex'] == 'Male') & (df['marital-status'].isin(["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]))]['salary'].value_counts()
#<=50K    7576
#>50K     5965

In [ ]:
#What is the maximum number of hours a person works per week (hours-per-week feature)? 
# How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

df["hours-per-week"].max() #99
df[df["hours-per-week"] == 99].shape[0] #85

#(99 hours and slary >50k)/85

float(df[(df["hours-per-week"] == 99) & (df["salary"] == ">50K")].shape[0])/ 85 * 100